extends index
include utils.pug

block display
   div(class='alert-errors')
      +validationErrorSummary(errors)
   div(class='full-container')
      div(class='question-body-container')
         div(class='single-question-header-container')
            h1(class="title")= title
            div(class='asked')
               h2(class='single-question-created') Asked: #{question.updatedAt}
               h2(class='single-question-user') User: #{question.User.username}
         div(class='question-body-content')
            form(action=`/questions/${question.id}/downvote`, method='post', class='single-question-downvote-container')
               if(question.Votes.length === 0)
                  div(class='single-question-downvote-count-0') #{question.Votes.length}
               else
                  div(class='single-question-downvote-count') - #{question.Votes.length}
               input(type='hidden', name='_csrf', value=csrfToken)
               if(isLoggedIn)
                  button(type='submit', class='question-body-content-downvote', id='downvote')
                     img(class='single-question-downvote', src='/images/downvote.png')
            div
               p #{question.content}
            if(authUser)
               a(href=`/questions/${question.id}/delete`, class='single-question-delete-a')
                  button(class='single-question-delete') Oops, Delete!
         div(class='question-body-answer-form')
            div
               input(type='hidden', name='_csrf', value=csrfToken)
               if(isLoggedIn)
                  label(for='answerContent') Your Answer:
                  textarea(name='answerContent', class=`single-question-answer-input ${question.id}`)
                  button(type='submit', id='post-answer') Post Your Answer
         div(class='single-question-answers-container')
            if(question.Answers.length > 1)
               p(class='number-answers') #{question.Answers.length} Answers:
            else if(question.Answers.length === 1)
               p(class='number-answers') #{question.Answers.length} Answer:
            else
               p(class='number-answers') The necros have not answered this question.
            div(class='question-body-answers')
               for answer in allAnswers
                  div(class='each-answer', id=`userId-${answer.id}`)
                     div(class='single-answer-vote-form')
                        if(answer.Votes.length === 0)
                           div(class=`single-question-upvote-count answerId-${answer.id}`) #{answer.Votes.length}
                        else
                           div(class=`single-question-upvote-count answerId-${answer.id}`) + #{answer.Votes.length}
                        input(type='hidden', name='_csrf', value=csrfToken)
                        if(isLoggedIn)
                           button(class='question-body-answers-content')
                              img(class=`single-question-upvote ${question.id}:${answer.id}`, src='/images/upvote.png')
                     div(class='answer')
                        p(class='single-question-answer-content') #{answer.content}
                        p(class='single-question-answer-date') Answered: #{answer.createdAt}
                        p(class='single-question-answer-username') By: #{answer.User.username}
                        if(userId === answer.userId)
                           button(class='single-question-answer-delete', value=answer.id) delete
      div(class='single-question-right-bar-container')
         div(class='right-side-bar-title') Underflow Questions
         div(class='right-side-bar-content')
            each question in allQuestions
               div(class="listed-question-body")
                  a(href=`/questions/${question.id}`, class='right-side-bar-a-tag') #{question.title}
